<div id="sent">
<ul>
<li>
  <span id="label"><%= t('formtastic.labels.name') %>:</span>
  <span id="content"><%= @comment.name %></span>
</li>
<div class="clear"></div>
<li>
  <span id="label"><%= t('formtastic.labels.affiliation') %>:</span>
  <span id="content"><%= @comment.affiliation %></span>
</li>
<div class="clear"></div>
<li>
  <span id="label"><%= t('formtastic.labels.email') %>:</span>
  <span id="content"><%= @comment.email %></span>
</li>
<div class="clear"></div>
<li>
  <span id="label"><%= t('formtastic.labels.content') %>:</span>
  <span id="content"><%= @comment.content %></span>
</li>
<div class="clear"></div>
</ul>

<%= link_to "RIEC Newsのページにもどる", new_comment_path if can? :new, Comment %>

</div> 

