<% title verify(:comment) %>

<p>
  <strong><%= t('formtastic.labels.name') %>:</strong>
  <%= @comment.name %>
</p>
<p>
  <strong><%= t('formtastic.labels.email') %>:</strong>
  <%= @comment.email %>
</p>
<p>
  <strong><%= t('formtastic.labels.affiliation') %>:</strong>
  <%= @comment.affiliation %>
</p>
<p>
  <strong><%= t('formtastic.labels.content') %>:</strong>
  <%= @comment.content %>
</p>
