<% title verify(:comment) %>
<p>
  <strong><%= t('formtastic.labels.name') %>:</strong>
  <%= @comment.name %>
</p>
<p>
  <strong><%= t('formtastic.labels.email') %>:</strong>
  <%= @comment.email %>
</p>
<p>
  <strong><%= t('formtastic.labels.affiliation') %>:</strong>
  <%= @comment.affiliation %>
</p>
<p>
  <strong><%= t('formtastic.labels.content') %>:</strong>
  <%= @comment.content %>
</p>

<%= semantic_form_for @comment do |f| %>
  <%= f.input :name, :as => :hidden %>
  <%= f.input :email, :as => :hidden %>
  <%= f.input :affiliation, :as => :hidden %>
  <%= f.input :content, :as => :hidden %>
  <%= f.submit t2(:send,:comment), :class => :submit %>
<% end %>

