<% present Log do |presenter| %>

<h1>Access Log</h1>

<%= content_tag :div, "", id:'months_chart', data:{months:months_chart_data} %>

<%= presenter.months @months %>

<% end %>




<% if false %>
<div>
  Top page hits: <%= @log.total_hits %>(<%= @log.unique_hits %>)<br>
  Pdf1 downloads: <%= @pdflog1.total_hits %>(<%= @pdflog1.unique_hits %>)<br>
  Pdf2 downloads: <%= @pdflog2.total_hits %>(<%= @pdflog2.unique_hits %>)<br>
  Pdf3 downloads: <%= @pdflog3.total_hits %>(<%= @pdflog3.unique_hits %>)<br>
  Pdf4 downloads: <%= @pdflog4.total_hits %>(<%= @pdflog4.unique_hits %>)<br>
  Pdf5 downloads: <%= @pdflog5.total_hits %>(<%= @pdflog5.unique_hits %>)<br>
  Pdf6 downloads: <%= @pdflog6.total_hits %>(<%= @pdflog6.unique_hits %>)
</div>

<%= form_tag logs_path, :method => :get do %>
  <%= submit_tag t(:generate) %>
<% end %>

<% @log.keyed_logs.each do |key,month_log| %>
  <div>
    <br>
    <h3><%= month_log.first.month_to_s %></h3>
    Top page hits: <%= @log.monthly_total_hits(key) %>(<%= @log.monthly_unique_hits(key) %>)<br>
    Pdf1 downloads: <%= @pdflog1.monthly_total_hits(key) %>(<%= @pdflog1.monthly_unique_hits(key) %>)<br>
    Pdf2 downloads: <%= @pdflog2.monthly_total_hits(key) %>(<%= @pdflog2.monthly_unique_hits(key) %>)
    Pdf3 downloads: <%= @pdflog3.monthly_total_hits(key) %>(<%= @pdflog3.monthly_unique_hits(key) %>)
    Pdf4 downloads: <%= @pdflog4.monthly_total_hits(key) %>(<%= @pdflog4.monthly_unique_hits(key) %>)
    Pdf5 downloads: <%= @pdflog5.monthly_total_hits(key) %>(<%= @pdflog5.monthly_unique_hits(key) %>)
  </div>
<% end %>
<% end %>
