<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-2022-jp" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<script type="text/javascript" src="../../navi-j.js"></script>
<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'print.css', :media => 'print' %>
<!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
<![endif]-->   
<%= stylesheet_link_tag "application", "formtastic" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
<link rel="stylesheet" href="../css/setssi.css" type="text/css" />
</head>
<body>
<noscript>JavaScriptを有効にしてご覧下さい。</noscript>
<div id="container">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div class="clear"></div>
      <div id="contents">
        <div id="user_nav">
          <% if current_user %>
            <%= t('message.welcome',:user=>current_user.username) %>
            <%= t('message.not_you?') %>
            <%= link_to t(:log_out), logout_path %>
          <% else %>
            <%= link_to t(:sign_up), signup_path %><%= t(:or) %><%= link_to t(:log_in), login_path %>
          <% end %>
        </div>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>

<div id="header">
<p class="language">Japanese Only</p>
<!--#include virtual="/header/index-j.html"-->
<!--  ヘッダー   -->
</div>
<div id="mainmain">
<!--#include virtual="/navi/index-j4.html"-->
<!--  メニュー    -->
<!--  本文    　　　　　　　　　-->
<div id="riecnews">
<ul class="feeds">
     <li><a href="/access/index-j.shtml">交通アクセス</a></li>
     <li><a href="/sightmap/index-j.shtml">サイトマップ</a></li>
      <li><a href="/new/index-j.shtml">更新情報</a></li>
      </ul>
<!-- トップナビ終了-->
  <ol class="path">
  <li> <a href="../../index-j.shtml">ホーム</a></li>
  <li> <a href="../../activity/perio/index-j.shtml">広報</a></li>
  <li> RIEC News </li>
  </ol>
<div class="honbun">
<h2>RIEC News</h2>
<p class="markright">表紙写真をクリックして<img src="../image1/pdficon_small.gif" alt="" width="17" height="17" >をご覧ください．</p>

<h3>RIEC News 2011.3 No.1 [創刊号]</h3>
<table >
<tr>
<td width="170"><a href="riecnews_no01.pdf" target="_blank"><img src="img/riecnews_no1_150.jpg" alt="" width="150" height="211" class="videojpg"></a></td>
<td>
<h4>巻頭言</h4>
<ul><li>創刊によせて 所長 中沢 正隆</li></ul>
<h4>研究所紹介</h4>
<h4>TOPICS</h4>
<ul><li>仙台フォーラム2010</li>
    <li>共同プロジェクト研究発表会2010</li>
    <li>准教授分野の新設</li>
    <li>通研国際シンポジウム</li>
    <li>MIT-電子工学研究所との国際連携研究プログラムが東北大学重点戦略支援プログラムに採択</li>
    <li>独創的研究支援プログラム</li></ul>
<h4>New Laboratory</h4>
<ul ><li>先端ワイヤレス通信技術（末松）研究室</li>
    <li>情報コンテンツ（北村）研究室</li></ul>
<h4>研究室訪問</h4>
<ul ><li>ナノヘテロプロセス（室田・櫻庭）研究室</li>
    <li>知的ナノ集積システム（中島・佐藤）研究室</li></ul>
<h4>通研だより</h4>
<ul><li>寄附研究部門の設立</li>
    <li>2010年通研研究交流会</li>
    <li>通研公開</li>
     <li>RIEC豆知識(1)「視覚情報は８０％？」</li></ul>
<h4>組織/表彰・受賞</h4></td>
</tr>
</table>
</div>
</div>
</div>
<!--　本文終わり　-->
<!--#include virtual="/footer/index-j.html"-->
<!--footer-->
</div>
</body>
</html>

<!DOCTYPE html>
<html>
  </body>
</html>
